.App {
  text-align: center;
  font-size: calc(0.8rem + 2vmin);
}

.main {
  color: white;
}
.main-overlay {
  background-color: transparent;
}

.main-other {
  min-height: 100vh;
  background-color: var(--base-bg-color);
}
.not-overlay {
  background-color: var(--base-bg-color);
}

.App-header {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}
