.main {
  .main-overlay {
    background-color: transparent;
  }

  .main-other {
    height: 100vh;
    padding: 0;
    background: linear-gradient(
      to bottom,
      var(--background-color),
      var(--background-color-darker)
    );
    color: var(--font-color);
  }
}
