.main {
  color: white;
}
.main-overlay {
  background-color: transparent;
}

.main-other {
  min-height: 100vh;
  background-color: var(--base-bg-color);
}
.not-overlay {
  background-color: var(--base-bg-color);
}
