.window-draggable {
  position: relative;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  height: 2vh;
  background-color: rgba(22, 22, 22, 0.548);
}

.window-draggable:hover {
  background-color: rgba(22, 22, 22, 1);
  cursor: grab;
}

.window-draggable:active {
  cursor: grabbing;
}
