.table-messages-list {
  .messages-actions {
    display: flex;
  }

  td > div {
    max-height: 10vh;
  }

  td.message-time {
    color: var(--time-color);
    width: 15%;
  }

  .message-time-div {
    height: 5vh;
    max-height: 5vh;
  }

  td.message-username {
    width: 15%;
    text-align: center;
  }

  td.message {
    color: var(--font-color);
    overflow-y: auto;
    padding-left: 0.5rem;
    width: 60%;
    word-break: break-all;
    max-height: 5vh;
  }
}
