.messages-actions {
  display: flex;
}

td.message-time {
  color: var(--base-color-time-message);
  width: 15%;
}

.message-time-div {
  height: 5vh;
  max-height: 5vh;
}

td.message-username {
  color: var(--base-color-username-message);
  width: 15%;
}

td.message {
  color: var(--base-color-message);
  overflow-y: auto;
  padding-left: 0.5rem;
  width: 60%;
}
