#message-categories-list {
  font-size: large;
}

.message-category-name {
  width: 10%;
}

.message-category-edit {
  width: 10%;
}

.message-category-div-data {
  display: flex;
  flex-wrap: wrap;
  height: 30vh;
  overflow-x: hidden;
}

.message-category-div-data > div {
  flex: 1 1 49%;
  max-height: 3vh;
  height: 3vh;
  overflow-x: hidden;
  border-bottom: 0.1rem solid var(--base-bg-color-border);
}

.message-category-div-data > div:hover {
  background-color: var(--base-bg-color-border);
}

.message-category-div-data > div:nth-child(even) {
  color: var(--base-color-info);
  border-left: 0.1rem solid var(--base-bg-color-border);
}

.message-category-div-data > div:nth-child(odd) {
  font-weight: 700;
}

.message-category-messages {
  width: 50%;
}

.message-category-messages-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  overflow-x: hidden;
}

.message-category-messages-wrapper > div {
  border-bottom: 0.1rem solid black;
  border-left: 0.1rem solid black;
  padding: 0.5rem;
  flex: 1 1 20%;
}

.message-categories-edit-modal {
  display: flex;
  border: 1px solid black;
}
.message-categories-edit-modal > div {
  flex: 1 1 50%;
}

.message-categories-textarea {
  width: 100%;
  height: 15vh;
  font-size: larger;
}

.message-categories-input {
  width: 95%;
  height: 10vh;
  font-size: larger;
}

.message-categories-modal-header {
  font-size: x-large;
  text-align: center;
}
