.btn-drawer-wrapper {
  position: absolute;
  z-index: 3;
  margin: 0;
  padding: 0;

  button {
    &.btn-drawer {
      height: 100%;
      opacity: 0.8;

      margin: 0;
      padding: 0;
    }

    &.btn-drawer-close {
      position: sticky;
      top: 0;
    }

    &:hover {
      transform: rotate(0);
      opacity: 0.3;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .drawer-vertical {
    min-width: 50vw;
  }
  .drawer-horizontal {
    min-height: 50vw;
  }
}

@media screen and (max-width: $screen-lg) {
  .drawer-vertical {
    min-width: 40vw;
  }
  .drawer-horizontal {
    min-height: 40vw;
  }
}
