.navbar {
  right: -20vw;
  width: 15vw;
  position: absolute;
  height: 100vh;
  background-color: var(--base-bg-color);
}

.navbar ul {
  list-style: none;
}

.connect-twitch {
  font-size: 0.7rem;
  border: 0.1rem solid black;
  background-color: purple;
}
