.sidebar-ul {
  list-style: none;
  font-size: 1.7vw;
  margin: 0;
  padding: 1vw;

  li {
    margin: 0.1rem;
    height: 5vh;
    a {
      display: flex;
      width: 100%;
      text-align: center;
      height: 100%;
    }
  }
}

@media screen and (max-width: $screen-md) {
  .sidebar-ul {
    font-size: 4vw;
  }

  .connect-twitch {
    font-size: 4vw;
  }
}

@media screen and (max-width: $screen-lg) {
  .sidebar-ul {
    font-size: 3vw;
  }

  .connect-twitch {
    font-size: 3vw;
  }
}
