.connect-twitch {
  font-size: 2vw;
  border: 0.1rem solid black;
  background-color: purple;
}

.sidebar-ul {
  list-style: none;
  font-size: 1.7vw;
  margin: 0;
  padding: 1vw;
}

@media screen and (max-width: $screen-md) {
  .sidebar-ul {
    font-size: 4vw;
  }

  .connect-twitch {
    font-size: 4vw;
  }
}

@media screen and (max-width: $screen-lg) {
  .sidebar-ul {
    font-size: 3vw;
  }

  .connect-twitch {
    font-size: 3vw;
  }
}
