.stream-session-details-wrapper {
  width: $width-without-drawer;
  font-size: 2vmin;
  display: flex;
  flex-direction: column;

  & > div.detail-section-wrapper {
    flex: 1 1 50%;
    border-bottom: 1px solid var(--revert-background-color);

    & > div {
      display: flex;
      flex-direction: row;
      height: 5vh;

      & > div {
        flex: 0 1 20%;
        text-align: center;
        border: 0.1rem solid var(--revert-background-color);
        margin-bottom: 0.1rem;

        &:nth-child(odd) {
          border-right: 0.2rem solid var(--background-color-darker);
          border-left: 0.2rem solid var(--background-color-darker);
          color: $info-color;
        }
      }
    }
  }

  & > div.detail-section-wrapper-big {
    border: 1px solid yellow;
    height: 20vh;
    overflow-y: auto;

    &.max {
      height: 40vh;
      display: flex;

      & > div {
        flex: 1 0 30%;
        overflow: scroll;
        height: 40vh;
      }
    }

    & > div {
      display: flex;
      flex-direction: column;
      height: 20vh;
    }

    .profile-messages {
      .profile-messages-header {
        color: $info-color;
        background-color: var(--background-color);
        text-align: center;
        position: sticky;
        top: 0;
      }
    }

    .session-big-data-wrapper {
      display: flex;
      flex-direction: row;
      text-align: center;
      & > div {
        flex: 0 1 49%;
        height: fit-content;
      }
    }

    .section-name {
      position: sticky;
      top: 0;
      background-color: var(--background-color);
      text-align: center;
    }
  }

  .textarea-profile-edit {
    width: 90%;
    height: 10vh;
  }
  .profile-button {
    width: 100%;
  }
}
