.events-layouts-header {
  text-align: center;
  font-size: xx-large;
}

.events-layouts-list {
  display: flex;
}

.events-layouts-list > div,
.events-layouts-list > button {
  border: 0.1rem solid black;
  flex: 0 1 10%;
  margin: 0.5rem;
  width: 10vw;
  height: 15vh;
  display: flex;
  justify-content: center;
}

div.events-layouts-btn {
  flex: 0 1 25%;
}

div.events-layouts-btn input {
  width: 100%;
  margin-right: 0.1rem;
  font-size: x-large;
}

.events-layouts-list a {
  text-align: center;
  width: 100%;
  height: 100%;
}

.events-layouts-btn input {
  width: 50%;
}
