.music-player-widget {
  font-size: 1.5vmin;
  text-align: center;
  height: 100%;
  overflow-x: hidden;

  .music-player-switch-wrapper {
    flex: 1;
    justify-content: center;
    button.switch-players-button {
      height: 2vh;
      flex: 0.5;

      font-size: 1vh;
    }
  }

  .music-player-sterring-wrapper {
    flex: 1;
    button {
      height: 3vmin;
      margin: 0.1rem;
      font-size: 1.5vmin;
    }
  }

  & > div:not(:first-child) {
    flex: 1 1 50%;
  }

  .music-player-tabs-wrapper {
    margin: 0.1rem;
    * {
      font-size: 1vmin;
      flex: 1;
      margin: 0.1rem;
    }
  }

  .tab-containter {
    overflow: hidden;
    height: 70%;
  }
}

.audio-data-wrapper {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 100%;
  & > div {
    font-size: 1.5vmin;
    height: 15%;
    border-top: 0.1rem solid $primary-color;
    overflow-y: auto;

    ul {
      text-align: left;
    }
  }

  .audio-playlist-wrapper {
    height: 100%;

    .audio-playlist-audio-list {
      display: flex;
      border-bottom: 0.1rem solid $primary-color;
      text-align: left;
      & > div:first-child {
        border-right: 0.1rem solid $primary-color;
        flex: 0 1 80%;
      }

      & > div {
        padding-left: 0.1rem;
      }
    }
  }
}

.upload-mp3-form-wrapper {
  width: 100%;
  display: flex;
  margin-top: 0.2rem;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .upload-folder-buttons-wrapper {
    .upload-folder-buttons {
      display: flex;
      overflow-y: auto;
      flex-wrap: wrap;
      height: 80%;
      button {
        font-size: 1vmin;
        margin: 0.1rem;
        flex: 1 1 20%;
        width: 20%;
        max-width: 50%;
      }
    }
  }

  & > div {
    flex: 1 1 40%;
    max-height: 40%;
    margin-top: 0.1rem;

    &.upload-input-file {
      flex: 0 0 15%;
    }
  }

  .upload-mp3-progrees-bar {
    margin-top: 0.2rem;
  }

  .upload-files-list {
    overflow-x: hidden;
  }
}

.audio-files-list-wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow-x: hidden;

  > div {
    overflow-x: hidden;
    flex: 1 50%;
  }
  .audio-folders-list-wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    border-bottom: 0.1rem solid $primary-color;
    padding: 0.2rem;
    display: flex;
    flex-wrap: wrap;
    button {
      flex: 1 1 25%;
      font-size: 1vmin;
      margin: 0.1rem;
      // width: 100%;
    }

    button.load-folder-btn {
      width: 99%;
      flex: 1;
    }
  }

  .mp3-files-wrapper {
    text-align: left;

    .mp3-file {
      border-bottom: 0.1rem solid $primary-color;
    }
  }
}

.folders-create-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 2vmin;
  overflow-x: hidden;
  height: 100%;

  .folders-create-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-x: hidden;
  }

  .folder-file {
    border-bottom: 0.1rem solid $primary-color;

    div {
      align-self: center;
    }
  }
}

div.list-with-x-buttons {
  display: flex;
  & > div:first-child {
    display: flex;
    flex: 0 0 15%;
  }
}
