.music-player-widget {
  font-size: 1.5vmin;
  border-bottom: 0.2rem solid $primary-color;
  text-align: center;
  height: 100%;

  button {
    border-radius: 1rem;
    height: 3vh;
    width: 50%;

    &.upload-button-show-hide {
      font-size: 1vmin;
    }
  }

  & > div:not(:first-child) {
    display: flex;
    flex: 1 1 50%;
  }

  .music-player-tabs-wrapper {
    margin-top: 0.2rem;
  }
}

.audio-data-wrapper {
  margin-top: 0.3rem;
  display: flex;
  flex-direction: column;
  height: 80%;
  & > div {
    font-size: 1.5vmin;
    height: 15%;
    border-top: 0.1rem solid $primary-color;
    overflow-y: auto;

    ul {
      text-align: left;
    }
  }

  .audio-playlist {
    height: 100%;
  }
}

.upload-mp3-form-wrapper {
  width: 100%;
  display: flex;
  margin-top: 0.2rem;
  flex-direction: column;

  div,
  button {
    margin-top: 0.1rem;
  }

  .upload-mp3-progrees-bar {
    margin-top: 0.2rem;
  }

  .upload-files-list {
    height: 100%;
    overflow-x: hidden;
  }
}

.audio-files-list-wrapper {
  display: flex;
  flex-direction: column;
  height: 80%;
  overflow-x: hidden;
  .audio-folders-list-wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    border-bottom: 0.1rem solid $primary-color;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    & > div {
      flex: 0 1 25%;
      button {
        width: 100%;
      }
    }

    button.load-folder-btn {
      width: 99%;
    }
  }

  .mp3-files-wrapper {
    text-align: left;

    .mp3-file {
      border-bottom: 0.1rem solid $primary-color;
    }
  }
}

.folders-create-wrapper {
  display: flex;
  flex-direction: column;

  & > div {
    display: flex;
  }

  .folders-create-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 2vmin;
  }

  .folder-file {
    border-bottom: 0.1rem solid $primary-color;

    div {
      align-self: center;
    }
  }
}

div.list-with-x-buttons {
  display: flex;
  & > div:first-child {
    display: flex;
    flex: 0 0 15%;
  }
}
