.prepared-messages-window button {
  transition: font-weight 1s, color 1s, border-radius 1s;
}

.prepared-messages-window button:hover {
  font-weight: 900;
  color: red;
  border-radius: 0.5rem;
}

.prepared-messages-window {
  height: 99%;
  overflow-x: hidden;
}

.message-categories-btn-wrapper button {
  height: 4vh;
  font-size: 1.2vmin;
  margin: 0.1rem;
}

.button-category-name {
  color: var(--base-color-info);
}

.message-section-btn-wrapper {
  display: flex;
}

.message-section-btn-wrapper > div {
  flex: 1 1 49%;
}

.message-section-btn-wrapper > div * {
  width: 96%;
}

.modal-prepared-messages {
  height: 300px;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.modal-prepared-messages button {
  flex: 0 0 30%;
  border: 0.1rem solid var(--base-bg-color);
}
