.prepared-messages-window {
  height: 99%;
  overflow-x: hidden;
  button {
    transition: font-weight 1s, color 1s, border-radius 1s;

    &:hover {
      font-weight: 900;
      color: red;
      border-radius: 0.5rem;
    }
  }

  .message-categories-btn-wrapper {
    button {
      height: 4vh;
      font-size: 1vmin;
      margin: 0.1rem;
      .button-category-name {
        color: var(--info-bg-color);
      }
    }
    .message-section-btn-wrapper {
      display: flex;

      & > div {
        flex: 1;
        max-width: 50%;

        * {
          width: 96%;
        }
      }
    }
  }
}

.modal-prepared-messages {
  height: 300px;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  button {
    flex: 0 0 30%;
    border: 0.1rem solid var(--background-color);
  }
}
