.twitch-statistics {
  background-color: var(--base-bg-color-chat);
  display: flex;
  border: 1px solid;
  overflow: hidden;
}

.table-statistic {
  text-align: center;
  width: 100%;
}

.table-statistic thead th {
  height: 20px;
  font-size: 0.6rem;
}

.statistics-wrapper {
  margin-right: 0.5rem;
}

.statistics-wrapper div:first-child {
  font-weight: 700;
  text-align: center;
}
