.prev-page-btn {
  color: var(--base-color-link);
  background-color: var(--base-bg-color-border);
  border: 0;
  font-size: 1.5rem;
  width: 10vw;
}

.prev-page-btn:hover {
  color: var(--base-bg-color-border);
  background-color: var(--base-color-link);
}
