.chat-wrapper {
  display: flex;
  border-bottom: 0.1rem solid var(--revert-background-color);
  margin-left: 0.2rem;

  .chat-message {
    margin-top: 0.5rem;
    color: var(--font-color);
    text-align: left;
    overflow-wrap: break-word;
    width: 100%;
    font-size: 1vw;
    font-weight: 600;

    .chat-message-badges {
      display: flex;
      & > * {
        margin-left: 0.5rem;
      }
      img {
        aspect-ratio: 1;
      }
    }
    & > div {
      display: inline-block !important;
    }
    & > .ms-username {
      color: var(--message-username-color);
    }

    & > .ms-time {
      width: min-content;
      max-width: min-content;
      color: var(--info-bg-color);
    }

    & > *:not(:first-child) {
      margin-left: 0.3rem;
    }
  }
}
