.chat-wrapper {
  display: flex;
  border-bottom: 0.1rem solid var(--base-bg-color-border);
  margin-left: 0.2rem;
}

.chat-message {
  margin-top: 0.5rem;
  text-align: left;
  overflow-wrap: break-word;
  width: 100%;
}

.chat-message * {
  font-size: 1vw;
}

.chat-message > div {
  display: inline-block !important;
}

.chat-message > .ms-username {
  color: var(--base-color-username-message);
}

.chat-message > .ms-time {
  width: min-content;
  max-width: min-content;
  color: var(--base-color-info);
}

.chat-message > *:not(:first-child) {
  margin-left: 0.2rem;
}
