.cardbox-wrapper {
  background-color: var(--background-color);
  height: 100vh;
  overflow-y: auto;

  * {
    font-size: 2vw;
  }

  .cardbox-header {
    text-align: center;
    font-size: xx-large;
  }
}

.cardbox-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  & > div {
    flex: 0 1 20%;
    max-width: 20%;
    margin: 0.5rem;
    height: 20vh;
  }

  .remove-cardbox-btn {
    position: absolute;
    height: 25%;
    width: 25%;
    right: 0;
    top: 50%;
    margin: 0;
    bottom: 0;
  }
}

.cardbox-item {
  position: relative;

  .cardbox-title {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    height: 40%;
    overflow: auto;
    text-align: center;
    color: black;
    background-color: var(--info-bg-color);
    background: linear-gradient(
      2deg,
      var(--info-bg-color),
      var(--background-color)
    );
    font-size: 3vmin;
  }
}

.cardbox-content {
  display: flex;
  width: 100%;
  height: 60%;
  text-align: center;
  align-items: end;
  background: linear-gradient(
    45deg,
    var(--background-color-lighter),
    var(--background-color)
  );

  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  & > a {
    flex: 1 1 49%;
    height: 5vh;
    color: var(--font-color);
  }
}

.cardbox-input {
  position: relative;
  display: flex;
  flex-direction: column;

  .cardbox-content {
    display: flex;
    flex-direction: column;

    input {
      width: 80%;
      flex: 0 0 20%;
      padding: 0;
    }
  }
}

@media screen and (max-width: $screen-lg) {
  .cardbox-list {
    display: flex;
    & > div {
      flex: 0 1 44%;
      max-width: 44%;
      height: 15vh;
    }
  }

  .cardbox-content {
    & > a {
      height: 2vh;
    }
  }
}
