.stream-chat {
  background-color: var(--base-bg-color-chat);
  height: 99%;
  border: 0.1rem solid yellow;
  text-align: center;
  overflow: auto;
}

.stream-chat-messages {
  overflow-y: scroll;
  border-top: 1px solid yellow;
  border-bottom: 1px solid yellow;
  height: 70%;
}

.stream-chat-title {
  height: 5%;
  font-size: smaller;
  overflow: hidden;
}

.stream-chat-send-message {
  margin-top: 0.5rem;
  bottom: 10%;
  height: 10%;
  width: 100%;
}

.stream-chat-textarea {
  color: white;
  background-color: var(--base-bg-textarea-chat);
  border-radius: 0.3rem;
  min-width: 90%;
  max-width: 90%;
  min-height: 3vh;
  max-height: 10vmin;
  width: 100%;
  font-size: calc(0.9rem + 1vmin);
}

.stream-chat-messages::-webkit-scrollbar {
  display: none;
}

.stream-chat-messages div:first-child {
  border-left: 0;
}

.stream-chat-btn-send-message {
  background-color: var(--base-color-button-action);
  border: 0;
  border-radius: 0.3rem;
  height: 5vh;
  margin-right: 1rem;
  float: right;
  color: white;
  font-weight: 700;
  width: 7vw;
  font-size: smaller;
}

.stream-chat-btn-send-message:active {
  background-color: var(--base-color-button-action-active);
}
