.modal {
  z-index: 1;
  color: var(--font-color);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &.show .modal-content {
    transform: translateY(0);
  }

  .modal-content {
    width: 50vw;
    background: linear-gradient(
      to bottom,
      var(--background-color),
      var(--background-color-darker)
    );
    transform: translateY(-10vh);
    transition: all 0.1s ease-out;
  }

  .modal-header,
  .modal-footer {
    padding: 1rem;
  }

  .modal-title {
    margin: 0;
  }

  .modal-body {
    padding: 1rem;
    border-top: 0.1rem solid var(--revert-background-color);
    border-bottom: 0.1rem solid var(--revert-background-color);
  }

  .modal-button {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.2rem;
  }
}

@media screen and (max-width: $screen-lg) {
  .modal {
    .modal-content {
      width: 90vw;
    }
  }
}
