.user-details-btn {
  display: inline-block;
  width: 40%;
  font-size: 1rem;
  padding: 0.3rem;
  background-color: var(--base-bg-color-border);
  color: var(--base-color-link);
  font-weight: 700;
  border: 0.1rem solid;
  border-top: 0.1rem solid black;
  overflow: hidden;
}

.user-details-btn:hover {
  background-color: var(--base-color-link);
  color: var(--base-bg-color-border);
}

.profile-details {
  width: 100vw;
}

.profile-details tr td:first-child {
  width: 20vw;
}

.profile-details td {
  border-top: 0.1rem solid var(--base-bg-color-border);
}

.profile-details th {
  color: var(--base-color-info);
  border: 0.3rem solid var(--base-bg-color-border);
  border-radius: 0.2rem;
}

.profile-details td:not(:first-child) {
  border-left: 0.1rem solid var(--base-bg-color-border);
}

.textarea-edit {
  font-size: 1.1rem;
  height: 20vh;
  width: 70%;

  float: left;
}

.notes-list {
  overflow-y: auto;
  width: 90%;
  text-align: left;
  max-height: 25vh;
  font-size: 1.2rem;
}

.profile-user-messages {
  width: 100%;
}

.profile-user-messages .profile-user-messages-inner {
  width: 49%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 20vh;
  font-size: 1rem;
  text-align: left;
}

.profile-user-messages div:last-child {
  border-left: 0.1rem solid var(--base-bg-color-border);
}

.profile-first-messages {
  float: left;
}

.profile-last-messages {
  float: right;
}
