#stream-notifications {
  overflow: auto;
  height: 100%;
}

.user-info {
  position: relative;
  background-color: $bg-color-popup;
  font-size: 1vmin;
  height: 12vh;
  max-height: 12vh;
  overflow-x: hidden;
  padding-left: 0.2rem;
  padding-top: 0.3rem;
  display: flex;
  flex-direction: column;

  &.warn {
    border: 0.1rem solid $color-user-warn;
  }

  &.left-chat {
    background-color: $color-user-danger;
  }

  &.new-user {
    border: 0.2rem solid $color-user-new-user;
  }

  &.usual {
    border: 0.1rem solid $color-user-usual;
  }

  &.blacklist {
    border: 0.1rem solid $color-user-blacklist;
  }

  & > div {
    display: flex;
    border-top: 0.1rem solid $primary-color;
    border-left: 0.1rem solid $primary-color;
    border-right: 0.1rem solid $primary-color;
    overflow-y: hidden;
    padding-top: 0.5rem;
    height: 100%;

    &:not(div > span) {
      font-weight: 700;
    }
  }

  span {
    color: var(--info-bg-color);
    font-weight: 400;
  }

  .user-info-icon {
    width: 15px;
    height: 15px;
  }

  .user-info-event-data-wrapper {
    & > div {
      flex: 1 1 49%;
    }

    .user-info-event {
      color: var(--info-bg-color);
      font-size: 1rem;
    }

    .user-info-username {
      font-weight: 700;
      text-align: center;
    }
    .user-info-date {
      color: var(--info-bg-color);
    }
  }

  .user-info-user-data-wrapper {
    flex-wrap: wrap;
    & > div {
      flex: 1 0 25%;
      overflow: hidden;
      display: flex;

      & > div {
        flex: 1 0 49%;
      }
    }
  }

  .user-info-user-dates-wrapper {
    flex-wrap: wrap;
    overflow-y: scroll;

    & > div {
      flex: 1 0 33%;
      display: flex;
    }
  }
}
