.youtube-player-wrapper {
  position: relative;
  display: flex;
  height: 96%;

  .youtube-player {
    display: none;
  }

  .youtube-player-background {
    position: absolute;
    background-color: $default-overlay-background-color;
    filter: $default-overlay-filter-opacity;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .youtube-song-details {
    padding: 0.5rem;
    border-radius: 0.5rem;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    opacity: 0.8;
    box-shadow: $default-overlay-box-shadow;
    width: 100%;
  }

  .youtube-song-progress {
    min-width: 30%;
    * {
      color: $info-color !important;
    }
    span {
      max-width: 30%;
    }
  }

  .youtube-current-song {
    flex: 0 0 60%;
    margin-right: 2%;
  }

  * {
    flex: 1;
  }
}
