#table-triggers-list td:not(:first-child) {
  border-left: 0.1rem solid var(--base-bg-color-border);
  text-align: center;
}

.triggers-list-modal-wrapper {
  width: 45vw;
}

.triggers-big {
  width: 10vw;
  white-space: pre;
}

.triggers-textarea {
  white-space: nowrap;
  font-size: 1.1rem;
  height: 15vh;
  max-height: 15vh;
  width: 35vw;
  max-width: 35vw;
  min-width: 8vw;
  min-height: 5vw;
}

.triggers-list-name {
  width: 25vw;
  height: 5vh;
  font-size: 1.1rem;
  overflow: hidden;
}

.changed-field {
  color: var(--base-color-info);
  background-color: var(--base-bg-color-info);
}
