@mixin animation-mixin($name, $box-shadow-color) {
  @keyframes #{$name} {
    0% {
      transform: scale(0.7, 0.025);
    }
    50% {
      box-shadow: 4px 2px 9px 15px $box-shadow-color;
      transform: scale(1, 0.025);
    }
  }
}

@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
    transform: scale(0.7, 0.025);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: scale(1, 0.025);
    transform: rotateZ(0);
  }
}

@include animation-mixin(achievement-animation, pink);
@include animation-mixin(achievement-animation-1, $secondary-color);
@include animation-mixin(achievement-animation-2, $success-color);
@include animation-mixin(achievement-animation-3, $primary-color);
@include animation-mixin(achievement-animation-4, $info-color);
@include animation-mixin(achievement-animation-5, orange);

.achievements-overlay-wrapper {
  width: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  & > div:not(.achievements-overlay-background) {
    margin: 0 1rem;
    margin-top: 0.5rem;
  }

  .achievements-overlay-queue-length {
    position: relative;
    text-align: center;
    font-weight: 800;
    color: $primary-color;
    padding: 0rem;
    .queue-length-background {
      border-start-start-radius: 100%;
      border-start-end-radius: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $default-overlay-background-color;
      box-shadow: $default-overlay-box-shadow;
      filter: opacity(25%);
    }
    transition: opacity 1s;
    &.show {
      opacity: 1;
    }

    &.hide {
      opacity: 0;
    }
  }
  .obtained-achievements-wrapper {
    position: relative;

    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 1px 2px 3px 2px $secondary-color;
    justify-content: space-between;
    transition: transform 2s ease;
    .achievements-overlay-background {
      border-radius: 1rem;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: $primary-color;
      box-shadow: 1px 2px 3px 4px $primary-color;
      filter: opacity(15%);
    }

    .obtained-achievements-content {
      display: flex;
      flex-direction: column;

      color: $primary-color;
      font-weight: 600;
      min-width: 70%;
      max-width: 70%;

      div.obtained-achievement-username {
        color: $success-color;
        font-weight: 800;
        margin-right: 0.5rem;
        text-align: center;
        & > span {
          color: $primary-color;
          font-weight: 400;

          & > span {
            font-weight: 800;
          }
        }
      }

      div.obtained-achievement-details {
        display: flex;
        justify-content: space-between;
      }

      div.obtained-achievements-goal {
        color: $success-color;
        & > span {
          font-weight: 800;
          color: $primary-color;
          font-size: 1.4em;
        }
      }

      div.obtained-achievements-stage-name {
        font-weight: 800;
        text-decoration: underline;
      }
    }

    .obtained-achievements-badge {
      width: 20%;

      img {
        width: 70%;
        filter: opacity(70%);
        box-shadow: 1px 2px 3px 4px $secondary-color;
        border-radius: 0.3rem;
      }
    }
  }
}

.animated-achievement {
  animation: achievement-animation 1s ease-in-out;

  animation-fill-mode: forwards;
  div.achievements-overlay-background {
    background-color: gray !important;
  }
}

.animated-achievement-1 {
  animation: achievement-animation-1 1s;
  animation-fill-mode: forwards;
  div.achievements-overlay-background {
    background: linear-gradient(12deg, $secondary-color, black);
  }
}
.animated-achievement-2 {
  animation: achievement-animation-2 1s;
  animation-fill-mode: forwards;
  div.achievements-overlay-background {
    background: linear-gradient(12deg, $success-color, $secondary-color);
  }
}
.animated-achievement-3 {
  animation: achievement-animation-3 1s;
  animation-fill-mode: forwards;
  div.achievements-overlay-background {
    background: linear-gradient(12deg, $primary-color, $success-color);
  }
}
.animated-achievement-4 {
  animation: achievement-animation-4 1s;
  animation-fill-mode: forwards;
  div.achievements-overlay-background {
    background: linear-gradient(12deg, $info-color, $primary-color);
  }
}
.animated-achievement-5 {
  animation: achievement-animation-5 1s;
  animation-fill-mode: forwards;
  div.achievements-overlay-background {
    background: linear-gradient(12deg, $info-color, orange);
  }
}

.animated-achievement-6 {
  animation: achievement-animation 0.5s, wiggle 2.5s;
  div.achievements-overlay-background {
    background: linear-gradient(0deg, yellow, orange, red);
  }
}

.animated-achievement-7 {
  animation: achievement-animation 0.5s, wiggle 2.5s;
  div.achievements-overlay-background {
    background: linear-gradient(0deg, yellow, orange, red);
  }
}

.animated-achievement-8 {
  animation: achievement-animation 0.5s, wiggle 2.5s;
  div.achievements-overlay-background {
    background: linear-gradient(0deg, yellow, orange, red);
  }
}

.animated-achievement-9 {
  animation: achievement-animation 0.5s, wiggle 2.5s;
  div.achievements-overlay-background {
    background: linear-gradient(0deg, yellow, orange, red);
  }
}

.animated-achievement-10 {
  animation: achievement-animation 0.5s, wiggle 2.5s;
  div.achievements-overlay-background {
    background: linear-gradient(0deg, yellow, orange, red);
  }
}
