.redemption-wrapper {
  height: 100%;
  background-color: red;
  font-weight: 700;
  display: flex;
  flex-direction: column;

  & > div {
    text-align: center;
  }

  .redemption-popup {
    animation-name: change-colors;
    animation-duration: 15s;
    animation-iteration-count: infinite;

    img {
      width: 10%;
    }
  }

  .redemption-popup-hidden {
    border: 0px;
    visibility: hidden;
  }
}

@keyframes change-colors {
  0% {
    color: red;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  100% {
    color: green;
  }
}
