.modal-data-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  min-height: 15vh;
}

.modal-data-wrapper * {
  font-size: 2vmin;
}

.modal-data-wrapper > div {
  max-width: 48%;
  min-width: 48%;
  border-bottom: 0.1rem solid var(--revert-background-color);
  margin-top: 0.1rem;
}

.modal-data-wrapper > div:hover {
  background: var(--revert-background-color);
}

.modal-data-wrapper > div > * {
  width: 100%;
}

.modal-data-wrapper input,
.modal-data-wrapper select {
  height: 5vh;
}

.modal-data-wrapper textarea {
  white-space: nowrap;
  height: 15vh;
  max-height: 15vh;
  max-width: 40vw;
  min-width: 8vw;
  min-height: 5vw;
}
