.users-list-achievements {
  width: 15%;
}

.users-list-date {
  width: 15%;
  max-width: 15%;
}

.users-list-message-count {
  width: 10%;
}

.users-list-points {
  width: 10%;
}

.users-list-watch-time {
  width: 7%;
}

.users-list-date-div {
  height: 5vh;
  max-height: 5vh;
}
