.table-list td:not(:first-child) {
  width: 100%;
}

.table-list td:not(:first-child) {
  border-left: 0.1rem solid var(--base-bg-color-border);
  text-align: center;
}

.table-list td button {
  height: 10vh;
  margin: 0.1rem;
}

.table-data-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
  font-size: 1.5vmin;
  overflow-x: hidden;
}

.table-data-wrapper > div {
  flex: 1 1 49%;
  max-height: 7vh;
  min-height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  border-bottom: 0.1rem solid var(--base-bg-color-border);
}

.table-data-wrapper > div:hover {
  background-color: var(--base-bg-color-border);
}

.table-data-wrapper > div:nth-child(even) {
  color: var(--base-color-info);
  border-left: 0.1rem solid var(--base-bg-color-border);
}

.table-data-wrapper > div:nth-child(odd) {
  font-weight: 700;
}

.table-items-list-wrapper {
  font-size: 1.7vmin;
  width: 25vw;
  height: 30vh;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
}

.table-items-list-wrapper > div {
  flex: 0 0 49%;
  min-height: 25%;
  max-height: 25%;
  overflow: auto;

  border: 1px solid var(--base-bg-color-border);
}

.table-items-list-wrapper > div:hover {
  background-color: var(--base-bg-color-border);
}

.table-list-wrapper th div {
  display: flex;
  flex: content;
}
