:root {
  --bg-color-popup: rgba(128, 128, 128, 0.131);

  --color-user-warn: rgb(127, 127, 11);
  --color-user-usual: rgb(40, 18, 182);
  --color-user-new-user: rgb(18, 114, 20);
  --color-user-blacklist: rgb(71, 17, 17);
  --color-user-danger: rgba(99, 52, 52, 0.2);

  --bg-color-active: rgba(163, 158, 12, 0.853);
  --bg-color-not-active: rgba(100, 97, 17, 0.153);
}

.react-grid-item {
  border: 0.1rem solid var(--base-bg-color-border);
}
.react-grid-item:hover {
  border: 0.1rem solid var(--base-bg-color-danger);
}

.widget-menu-drawer {
  display: flex;
  margin-top: 0.5rem;
}

.widget-menu-drawer > div {
  margin-left: 0.5rem;
  width: 50%;
  border: 1px solid black;
  text-align: center;
}

.widget-menu-drawer button {
  font-size: larger;
}

.widgets-toolbox {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  overflow-x: hidden;
}

.widgets-toolbox-title {
  text-align: center;
  top: 0;
}

.widgets-toolbox-items {
  display: flex;
  margin: 0.2rem;
  flex-wrap: wrap;
}

.widgets-items-item {
  background-color: var(--base-bg-color);
  width: 49%;
  overflow-x: auto;
  border: 0.1rem solid black;
  flex: 1 0 49%;
}

.widgets-items-item:hover {
  cursor: pointer;
  background-color: var(--base-bg-color-danger);
}

.widget-hide-button {
  position: absolute;
  top: 0;
  right: 3%;
  width: 10%;
  text-align: center;
  z-index: 10;
  border: 0.1rem solid var(--base-bg-color-border);
  background-color: rgba(28, 28, 15, 0.645);
  font-size: large;
}

.widget-hide-button:hover {
  cursor: pointer;
  background-color: rgba(28, 28, 15, 1);
}

.widget-header {
  text-align: center;
  font-size: larger;
  position: sticky;
  top: 0;
  background-color: var(--base-bg-color);
  border-bottom: 1px solid yellow;
}

.widget-edit-save {
  display: flex;
  align-items: center;
  height: 10vh;
}

.widget-edit-save > div {
  flex: 1 1 30%;
}

.widget-header-drawer {
  font-size: large;
}

.widget-header-drawer > span {
  color: var(--base-color-info);
  font-weight: 700;
}
