.configs-list-wrapper {
  display: flex;
  flex-direction: column;
  height: 95vh;
  overflow-x: hidden;

  input {
    text-align: center;
    background-color: var(--background-color);
    border: 0.1rem solid var(--revert-background-color);
    max-width: 100%;
  }

  .configs-section-wrapper {
    display: flex;
    flex-wrap: wrap;

    & > div {
      flex: 0 0 50%;
      border-bottom: 0.1rem solid var(--revert-background-color);
      text-align: center;
    }

    & > div.configs-section-header {
      flex: 100%;
      border-top: 0.3rem solid var(--info-bg-color);
      border-bottom: 0.2rem solid var(--info-bg-color);
    }

    & > div.configs-section-inner-header {
      flex: 100%;
      font-size: 1.5vw;
      font-weight: 700;
      background-color: var(--background-color-opposite);
    }
  }
}
