.table-list-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.table-list-wrapper > div {
  flex: 0 1 50%;
  border-bottom: 0.1rem solid var(--base-bg-color-border);
  text-align: center;
  font-size: x-large;
}

.table-list-wrapper > div:hover {
  background-color: var(--base-bg-color-border);
}

.table-list-wrapper > div.config-header {
  flex: 0 1 100%;
  border-top: 0.5rem solid var(--base-bg-color-border);
  border-bottom: 0.5rem solid var(--base-bg-color-border);
}

.table-list-wrapper input {
  text-align: center;
  background-color: var(--base-bg-color-border);
  border: 0.2rem solid var(--base-bg-color-border);
  max-width: 10vw;
  font-size: x-large;
}
